soap/src/main/resources/hostname.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="rk.soap-server-test"
           targetNamespace="rk.soap-server-test" elementFormDefault="qualified">

    <xs:element name="getHostnameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHostnameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hostname" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>